wheel
fastapi>=0.138.1
starlette
typing_extensions
pytest
pytest-sugar
httpx2
fastapi_versioning
uvicorn
pydantic
pymisp
requests
python-dateutil
pyyaml
jinja2
python-multipart
cryptography>=41.0.7
dicttoxml
python-binary-memcached
yamale
defusedxml
urllib3>=1.26.18
psutil>=5.9.0