fastapi
fastapi_versioning
uvicorn
pydantic
pymisp
pyyaml
auth
logger
jinja2
python-multipart
pycryptodome
scrypt
enum34
json2xml
cryptography
dicttoxml
ipaddress
typing
email-validator
python-binary-memcached
yamale
urllib3>=1.26.18
werkzeug>=3.0.1
dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability