fastapi
pytest
pytest-sugar
fastapi_versioning
uvicorn
pydantic
pymisp
pyyaml
auth
logger
jinja2
python-multipart
pycryptodome
scrypt
enum34
json2xml
cryptography>=41.0.7
dicttoxml
ipaddress
typing
email-validator
python-binary-memcached
yamale
defusedxml
urllib3>=1.26.18
werkzeug>=3.0.1
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability